
body {
    font-family: "Lato", sans-serif;
  }
  .sidenav {
    height: 100%;
    width: 12.5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.menu{
    color: #ffffff66;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    opacity: 70%;
    width: 80%;
    margin-left: auto;
}
.logo{
    width: 200px;
}
.navlink{
    font-size: 20px;
}
hr{
    width: 90%;
    border: 1px,white;
}


.botnavbar-container {
    overflow: hidden;
    background-color: #111;
    position: fixed;
    bottom: 0;
    width: 87% ;

  }
  
  .botnavbar-container a {
    
    display: inline-block;
    color: #818181;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .botnavbar-container a:hover {
    color: #f1f1f1;
  }
  
 
  .botnavbar-right{
    float: right;
  }
  .botnavbar-center{
    float: none;
    position: absolute;
    left: 38%;
  }
  .botnavbar-left{
    float: left;

  }