
<head><link rel="stylesheet" href="/css/admin_nav.css"></head>
<footer>
    <div class="botnavbar-container">
        <div class="botnavbar-left"> 
            <a href="#home" class="active"><img src="" alt="ECORIDE"></a>
        </div>
        <div class="botnavbar-center">
            <a href="#home" class="active">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
        </div>
            <div class="botnavbar-right">
                <a href="#home" class="active"><img src="" alt="instagram"></a>
                <a href="#home" class="active"><img src="" alt="f"></a>
                <a href="#home" class="active"><img src="" alt="t"></a>
                <a href="#home" class="active"><img src="" alt="youtube"></a>
            </div>
          
    </div>
    
</footer>