<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin_nav.css">
</head>
<body>

<div class="sidenav">
  <a href="/"> <img class="logo" src="logo" alt="logo" ></a> 
  <p class="menu">menu</p>
  <a class= "navlink" href="#">Overview</a>
  <a class= "navlink" href="#">Transaction</a>
  <a class= "navlink" href="#">Status</a>
  <hr>
  <a class= "navlink" href="#">User Management</a>
  <a class= "navlink" href="#">Assets</a>
  <hr>
  <a class= "navlink" href="#">Reports</a>
  <hr>
  <a class= "navlink" href="#">Log Out</a>
</div>